*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    padding-top: 2px;
    background: rgb(83, 126, 13);
}

.container-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.form-container {
    background-color: rgb(110, 165, 23);
    border-radius: 15px;
    padding: 25px 50px;
    color:white;
    font-size: 18px;
}


.iputs-string__top {
    display: flex;
}

.inputs-string__bottom {
    display: flex;
}


.input__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.input-container {
    text-align: left;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}
.button-block {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 10px;
    border-radius: 15px;
    background-color: rgb(83, 126, 13); 
    color: aliceblue;
    border: rgb(83, 126, 13);
    cursor: pointer;
}

.tableBlock {
    padding: 10px 10px;
    background: white;
    color: #000;
    border: none;
}

.table {
    width: 888px;
    background-color: rgb(110, 165, 23);
}

.input-container select {
    width: 173px;
    margin-top: 5px
}

.label__work {
    display: flex;
}